.pageTitle {

    .pageTile__text {
        border-top: 0.75em solid #000000;

        .pageTitle__title {
            margin: 1rem 0 2rem;
            font-size: 6rem;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: 0;
            font-weight: 600;
        }
    }
}